.funcionamiento-familias {
    width: 100%;

    .nav-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: var(--mc-whitecolor)
    }

    .nav-link {
        margin: 0 15px;
        text-decoration: none;
        font-size: var(--font-sizeXL);
        transition: color 0.3s ease;
    }

    .nav-link:hover {
        color: var(--mc-bgColor);
    }

    .active-link {
        color: var(--mc-byzantine);
        font-weight: bold;
    }

    .grid-content {
        max-width: 100%;
        text-align: center;
        color: var(--mc-bynegro);
        margin: 10px;
        padding: 20px;
    }

    .grid-content img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }

    .texto {
        font-size: var(--font-sizeXL);
        color: #333;
        padding: 10px;
        border-radius: 5px;
        line-height: 1.5;
        text-align: justify;
        width: 100%;
        box-sizing: border-box;
    }

    // seguridad
    .texto-seguridad {
        margin: 20px;
        padding: 15px;
        background-color: var(--mc-gray);
        color: #343a40;
        border: 1px solid var(--mc-btnSecond);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        font-size: var(--font-sizeL);
        line-height: 1.5;
    }
}

@media (max-width: 600px) {
    .el-row {
        flex-direction: column !important;
    }

    .el-col {
        width: 100% !important;
        max-width: 100% !important;
        margin-bottom: 1rem;
    }

    .nav-center {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .nav-link {
        display: block;
        padding: 0.5rem;
        font-size: 20px !important;
    }

    .grid-content {
        padding: 1rem;
        text-align: center;
    }

    p,
    .body-text {
        font-size: var(--font-sizeXS);
        text-align: justify;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    .bg-purple {
        padding: 1rem;
    }

    .texto-seguridad {
        padding: 1rem;
    }
}