
//USANDO
$mc-byzantine: #801563;
$mc-bgColor: rgb(80, 4, 80);

.funcionamiento-familias {
    width: 100%;
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2.5em;
        color: #2c3e50;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
        text-shadow: 3px 4px 5px rgba(9, 9, 236, 0.1);
    }
    h2 {
        font-size: 2.3rem;
        color: #2c3e50;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .nav-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: white;
    }
    .nav-link {
        margin: 0 15px;
        text-decoration: none;
        font-size: 1.4em;
        transition: color 0.3s ease;
    }

    .nav-link:hover {
        color: $mc-bgColor;
    }

    .active-link {
        color: $mc-byzantine;
        font-weight: bold;
    }

    //ROW1
    .grid-content {
        max-width: 100%;
        text-align: center;
        color: black;
        margin: 10px;
        padding: 20px;
    }

    .grid-content img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }
    .texto{
        font-family: Arial, sans-serif;
        font-size: 1.8rem;
        color: #333;
        padding: 10px;
        border-radius: 5px;
        line-height: 1.5;
        text-align: justify;
        width: 100%;
        box-sizing: border-box;
    }
    // seguridad
    .texto-seguridad {
        margin: 20px;
        padding: 15px;
        background-color: #f8f9fa;
        color: #343a40;
        border: 1px solid #ced4da;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
}
