<div class="funcionamiento-familias">
    <el-row>
        <el-col :span="24">
            <hr>
            <div class="nav-center grid-content bg-purple">
                <router-link to="dependent-guide" class="nav-link" exact-active-class="active-link">Para
                    Familias</router-link>
                <router-link to="carer-guide" class="nav-link" exact-active-class="active-link">Para
                    Cuidadores</router-link>
            </div>
        </el-col>
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <h1>Encuentra al mejor cuidador para tus seres queridos a la vuelta de la esquina</h1>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="15">
            <div class="grid-content bg-purple">
                <h2>¿Qué es manosCerca?</h2>
                <p class="texto"> ManosCerca es una plataforma en línea diseñada para conectar a familias con cuidadores de confianza para sus seres queridos mayores. Nuestra misión es facilitar la búsqueda y selección de cuidadores cualificados, asegurando que cada familia encuentre el apoyo adecuado para sus necesidades específicas.</p>
            </div>
        </el-col>
        <el-col :span="9">
            <div class="grid-content bg-purple">
                <img src="../../../public/imagenes/ayuda-casa.jpg" alt="Imagen 1">
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="9">
            <div class="grid-content bg-purple">
                <img src="../../../public/imagenes/ayuda.jpg" alt="Imagen 1">
            </div>
        </el-col>
        <el-col :span="15">
            <div class="grid-content bg-purple">
                <h2> Establece parámetros de búsqueda</h2>
                <p class="texto"> Determina tus necesidades de cuidado a domicilio considerando tus preferencias y requisitos en cuanto al nivel de experiencia de los cuidadores. Ten en cuenta estos aspectos al personalizar tu perfil y filtrar los resultados de búsqueda para encontrar cuidadores en tu zona que se ajusten a tus requisitos.</p>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="15">
            <div class="grid-content">
                <h2>Explora sus perfiles</h2>
                <p class="texto"> Revisa los perfiles de cuidadores en tu zona para conocer su experiencia, referencias y empleos anteriores. Explora los perfiles de cuidadores en tu área, compara sus experiencias y referencias con tus necesidades, y envíales un mensaje si encuentras una buena coincidencia.</p>
            </div>
        </el-col>
        <el-col :span="9">
            <div class="grid-content">
                <<img src="../../../public/imagenes/abuela-y-cuidadora.jpg" alt="Imagen 1">
            </div>
        </el-col>
    </el-row>
    <el-col :span="24">
        <div class="grid-content">
            <h1>Seguridad</h1>
        </div>
    </el-col>
    <el-row>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>Mantener tu privacidad es primordial para nosotros, por lo que solo mostramos a otros usuarios los detalles que nos proporcionaste para encontrar el cuidador adecuado para tu familia. Recuerda, no compartimos tu información sensible. <strong>Tu seguridad y confianza son nuestra prioridad.</strong> Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
            </div>
        </el-col>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>Antes de conoceros en persona, dedica tiempo a revisar los perfiles de nuestros cuidadores, incluidas sus fotografías. Asegúrate de preguntar sobre sus referencias y experiencia, y programa también una entrevista telefónica o una videollamada si eso te hace sentir más cómodo antes de conoceros en persona.</p>
            </div>
        </el-col>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>¿Notas que está sucediendo algo alarmante? No debes recibir ninguna presión para compartir tu información de contacto de inmediato ni para entablar conversaciones no profesionales. Si recibes un mensaje inapropiado o sospechoso, informa sobre ello a nuestro equipo para que podamos investigarlo.</p>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="4"><div class="grid-content"></div></el-col>
        <el-col :span="16"><div class="grid-content"></div></el-col>
        <el-col :span="4"><div class="grid-content"></div></el-col>
    </el-row>
</div>

<!-- <section class="funcionamiento-familias"> -->
    <!-- inicio card -->
    <!-- <section class="section1">
        <div class="row">
            <div class="div1">
                <img src="../../../public/imagenes/paseo-abuelos.jpg" alt="Imagen 1">
            </div>
            <div class="div2">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste ex nemo voluptas dignissimos autem
                    quisquam, officia aspernatur rem error laborum praesentium consectetur sunt ut necessitatibus
                    perspiciatis fugit at sit aliquam.lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Cumque repellendus expedita eaque consectetur, nam magni fugiat. Nisi soluta reprehenderit saepe
                    officiis facere quia quibusdam libero, rem repellendus a tenetur delectus.</p>
            </div>
        </div>
        <div class="row">
            <div class="div4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste ex nemo voluptas dignissimos autem
                    quisquam, officia aspernatur rem error laborum praesentium consectetur sunt ut necessitatibus
                    perspiciatis fugit at sit aliquam.</p>
            </div>
            <div class="div3">
                <img src="../../../public/imagenes/paseo-abuelos.jpg" alt="Imagen 2">
            </div>
        </div>
    </section>
    <section class="section2 efectoOla">
        <h4>Fortalecimiento familiar</h4>
        <p>
            Actividades diseñadas para promover la unión y el crecimiento.
            En [Nombre de tu empresa/plataforma], ofrecemos un espacio seguro y divertido para que las familias se
            conecten
            y crezcan juntas.

        </p>
        <h3>¿Cómo funciona?</h3>
        <ul>
            <li><b>Regístrate:</b> Crea una cuenta familiar de forma fácil y rápida.</li>
            <li><b>Explora:</b> Descubre una variedad de actividades y recursos diseñados para todas las edades.
            </li>
            <li><b>Conéctate:</b> Interactúa con otras familias a través de foros y eventos.</li>
            <li><b>Aprende:</b> Obtén consejos y herramientas para fortalecer los lazos familiares.</li>
        </ul>
    </section> -->
    <!-- Fin section 2 -->
    <!-- <section class="section3">
        <div class="div1-secc3">
            <img src="../../../public/imagenes/buelos.jpg" alt="">
        </div>
        <div class="div2-secc3">
            <h2>¿Qué es manosCerca?</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ipsam, perspiciatis tempora id at minima
                fugiat ex est libero dolorum labore voluptas ut, explicabo optio doloribus doloremque soluta enim
                excepturi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam repellendus neque id facere
                perspiciatis magni ex est ipsum incidunt deleniti temporibus debitis. Voluptatum illum quam omnis
                asperiores sit saepe?
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolor tenetur autem tempora ipsum
                dignissimos vel. Sint libero impedit ad eum, consectetur aut sit! Obcaecati nobis in dolorem rem vel?
            </p>
        </div>
    </section>
    <section class="secc4">
        <div>
            <h2>Como ha cambiado la vida de estas familias? </h2>
            <div>
                <b-card title="Card Title" img-src="https://picsum.photos/600/300/?image=25" img-alt="Image" img-top
                    tag="article" style="max-width: 20rem;" class="mb-2">
                    <b-card-text>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt rerum, in culpa adipisci
                        maxime nulla, itaque iusto suscipit, dolorum perferendis quis veniam repudiandae.
                    </b-card-text>

                    <b-button href="../AboutView.vue" variant="primary">Go somewhere</b-button>
                </b-card>
            </div>
        </div>
        <div style="height: 150px; overflow: hidden;">
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: rgb(216, 220, 224);"></path>
            </svg>
        </div>
    </section>
</section> -->