<div class="funcionamiento-familias">
    <el-row>
        <el-col :span="24">
            <hr>
            <div class="nav-center grid-content bg-purple">
                <router-link to="dependent-guide" class="nav-link" exact-active-class="active-link">Para
                    Familias</router-link>
                <router-link to="carer-guide" class="nav-link" exact-active-class="active-link">Para
                    Cuidadores</router-link>
            </div>
        </el-col>
        <el-col :span="24">
            <div class="grid-content bg-purple">
                <h1>Encuentra al mejor cuidador para tus seres queridos a la vuelta de la esquina</h1>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="15">
            <div class="grid-content bg-purple">
                <h2>¿Qué es manosCerca?</h2>
                <p class="texto"> ManosCerca es una plataforma en línea diseñada para conectar a familias con cuidadores de confianza para sus seres queridos mayores. Nuestra misión es facilitar la búsqueda y selección de cuidadores cualificados, asegurando que cada familia encuentre el apoyo adecuado para sus necesidades específicas.</p>
            </div>
        </el-col>
        <el-col :span="9">
            <div class="grid-content bg-purple">
                <img src="../../../public/imagenes/ayuda-casa.jpg" alt="Imagen 1">
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="9">
            <div class="grid-content bg-purple">
                <img src="../../../public/imagenes/ayuda.jpg" alt="Imagen 1">
            </div>
        </el-col>
        <el-col :span="15">
            <div class="grid-content bg-purple">
                <h2> Establece parámetros de búsqueda</h2>
                <p class="texto"> Determina tus necesidades de cuidado a domicilio considerando tus preferencias y requisitos en cuanto al nivel de experiencia de los cuidadores. Ten en cuenta estos aspectos al personalizar tu perfil y filtrar los resultados de búsqueda para encontrar cuidadores en tu zona que se ajusten a tus requisitos.</p>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="15">
            <div class="grid-content">
                <h2>Explora sus perfiles</h2>
                <p class="texto"> Revisa los perfiles de cuidadores en tu zona para conocer su experiencia, referencias y empleos anteriores. Explora los perfiles de cuidadores en tu área, compara sus experiencias y referencias con tus necesidades, y envíales un mensaje si encuentras una buena coincidencia.</p>
            </div>
        </el-col>
        <el-col :span="9">
            <div class="grid-content">
                <img src="../../../public/imagenes/abuela-y-cuidadora.jpg" alt="Imagen 1">
            </div>
        </el-col>
    </el-row>
    <el-col :span="24">
        <div class="grid-content">
            <h1>Seguridad</h1>
        </div>
    </el-col>
    <el-row>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>Mantener tu privacidad es primordial para nosotros, por lo que solo mostramos a otros usuarios los detalles que nos proporcionaste para encontrar
                    el cuidador adecuado para tu familia. Recuerda, no compartimos tu información sensible.
                    <strong>Tu seguridad y confianza son nuestra prioridad.</strong> Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
            </div>
        </el-col>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>Antes de conoceros en persona, dedica tiempo a revisar los perfiles de nuestros cuidadores, incluidas sus fotografías. Asegúrate de preguntar sobre sus referencias y experiencia, y programa también una entrevista telefónica o una videollamada si eso te hace sentir más cómodo antes de conoceros en persona.</p>
            </div>
        </el-col>
        <el-col :span="8">
            <div class="grid-content texto-seguridad">
                <p>¿Notas que está sucediendo algo alarmante? No debes recibir ninguna presión para compartir tu información de contacto de inmediato ni para entablar conversaciones no profesionales. Si recibes un mensaje inapropiado o sospechoso, informa sobre ello a nuestro equipo para que podamos investigarlo.</p>
            </div>
        </el-col>
    </el-row>
</div>