<div class="container-nosotros">
    <el-row>
            <el-col :span="24">
              <el-card class="card-with-overlay">
                <div class="card-image">
                  <div class="overlay">
                    <h1>Conectando Familias con Cuidadores de Confianza</h1>
                    <p class="center-texto">Nos dedicamos a conectar a familias con cuidadores de confianza para sus seres queridos mayores, facilitando la búsqueda y selección de cuidadores cualificados.</p>
                    <RouterLink to="/views-complete-role">
                      <el-button type="primary" class="btn-re-purple" plain>Registrarse</el-button>
                  </RouterLink>
                  </div>
                </div>
              </el-card>
            </el-col>
    </el-row>
    <el-row>
        <el-col :span="24">
            <div class="nuestra-historia grid-content">
                <h2>Nuestro origen</h2>
                <p>manosCerca.es es un proyecto de fin de grado desarrollado por <strong> Celena Alemán</strong> estudiante
                  del <strong>IES Trassierra</strong> en el marco del programa de Desarrollo de Aplicaciones Web.
                  Este proyecto nació de la necesidad creciente de encontrar cuidadores confiables para una población que envejece rápidamente
                  y de la oportunidad de mercado que esto representa. Inspirados por esta visión, creamos una plataforma en línea dedicada a
                  simplificar la búsqueda de cuidadores cualificados, asegurando que los mayores reciban el cuidado y la atención que necesitan.</p>
                <h2>Nuestra filosofía</h2>
                <p> Nuestra filosofía en manosCerca.es se basa en la confianza, accesibilidad y calidad. Creemos que cada persona mayor merece recibir el mejor cuidado posible, y nos esforzamos por conectar a las familias con cuidadores cualificados y de confianza. Nos comprometemos a facilitar el proceso de búsqueda y selección de cuidadores, asegurando que cada familia encuentre el apoyo adecuado para sus seres queridos. Nuestra misión es brindar tranquilidad a las familias y garantizar que los mayores reciban la atención y el respeto que merecen. </p>
            </div>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="12">
            <div class="grid-content">
              <div class="datos-empresa">
                <h2>Cuidado de mayores y ayuda a domicilio</h2>
                <p>Córdoba  España- 14004</p>
                <p>Teléfono: +34 920 00 00 14</p>
                <p>Email: info@manoscerca.es</p>
              </div>
            </div>
        </el-col>
        <el-col :span="12">
            <div class="">
                <div class="grid-content iframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15498.94523810998!2d-4.785428579475278!3d37.88386648702216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf7dc57e113b%3A0xda63b24f173b55aa!2sCentro%2C%20C%C3%B3rdoba!5e1!3m2!1ses!2ses!4v1732712292414!5m2!1ses!2ses" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                
                </div>
            </div>
        </el-col>
    </el-row>
</div>


