<div class="terms-and-conditions">
  <el-row>
    <el-col :span="24">
      <h1>Política de Privacidad</h1>
      <p>Sus datos seguros</p>
      <h2>
        Información en cumplimiento de la normativa de protección de datos
        personales
      </h2>
      <p>
        <strong>"En manosCerca.es,</strong> tu privacidad es primordial. Recopilamos datos para
        conectar familias y cuidadores, mejorar nuestros servicios y cumplir con
        la ley. Tus datos están seguros con nosotros, y tienes control total
        sobre ellos, incluyendo acceso, corrección y eliminación. Usamos tu
        información solo con tu consentimiento y la conservamos el tiempo
        necesario."
      </p>
      <h3>¿Para qué vamos a usar sus datos?</h3>
      <p>
        <li>Conectar familias y cuidadores.</li>
        <li>Gestionar perfiles de usuarios.</li>
        <li>Enviar notificaciones importantes</li>
        <li>Mejorar la plataforma.</li>
        <li>Cumplir con leyes españolas</li>
        <li>Enviar publicidad (con tu permiso).</li>
      </p>
      <h3>Tus derechos</h3>
        <li>Ver tus datos</li>
        <li>Corregir errores.</li>
        <li>Borrar tu información.</li>
        <li>Limitar cómo usamos tus datos.</li>
      <h3>Cómo protegemos tus datos</h3>
        <li>Medidas de seguridad avanzadas.</li>
        <li>Controles y auditorías regulares.</li>
        <li>Personal autorizado solamente.</li>
      <h3>Información Adicional</h3>
        <p>Cuidado de mayores y ayuda a domicilio</p>
        <p>Córdoba-España 14004</p>
        <p>Email: info@manosCerca.com</p>
        <p>Teléfono: +34 920 00 00 14</p>
    </el-col>
  </el-row>
</div>