<div class="container-profile">
    <div class="row-fila-one">
        <div class="image-container">
            <!-- <img src="../../../public/imagenes/junto-a-ti (6).jpg" class="image"> -->
            <img :src="imageUrl" class="image">
        </div>
        <div class="info-user">
            <div class="info-info">
                <h1>{{ carer.name }}</h1>
                <p> {{ carer.city }}, {{ carer.address }}</p>
                <p>Email: {{ carer.email }}</p>

            </div>
            <div class="info-info">
                <h2>Formación</h2>
                <p> {{ carer.formation }}</p>
            </div>
            <div class="info-info">
                <h2>Experiencia</h2>
                <p> {{ carer.year }} años </p>
            </div>
            <div class="info-info">
                <h2>Servicios de cuidados de {{ carer.name }}</h2>
                <ul>
                    <li v-for="task in carer.tasks" :key="task.id_tasks_carers">
                        {{ task.description }}
                    </li>
                </ul>
            </div>
            <div class="info-info">
                <h2>Presentación</h2>
                <p> {{ carer.presentation }} </p>
            </div>
            <div>
                <RouterLink to="/contact-form">
                    <el-button type="primary" class="btn-purple">Contactar</el-button>
                </RouterLink>
                <RouterLink to="/">
                    <el-button type="primary" class="btn-second">Salir</el-button>
                </RouterLink>
            </div>
            <!-- Botón para abrir el modal en modo de edición -->
            <div>
                <el-button type="primary" class="btn-purple" @click="openEditModal">Editar Perfil</el-button>
            </div>
        </div>
        <time class="time">{{ currentDate }}</time>
    </div>
    <div class="row-fila-two">
        <div>Similares</div>
    </div>
</div>