.custom-title {
    color:black;
      font-size: var(--font-sizeM);
    padding: 15px;
}
::v-deep .el-collapse-item__header {
    color: rgb(0, 13, 0);
      font-size: var(--font-sizeM);
}

.custom-collapse-container {
    margin: 20px auto;
    padding: 40px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-form {
    textarea {
        min-height: 150px;
    }
}
