<el-row>
  <h1 class="title-h1">Contacta con manoscerca</h1>
  <div class="custom-collapse-container">
    <p class="title-h3">
      Consulta nuestras respuestas a las preguntas más frecuentes o rellena el
      siguiente formulario para ponerte en contacto con nosotros.
    </p>
    <el-collapse accordion>
      <el-collapse-item title="¿Qué es manosCerca?" name="1">
        <div class="custom-title">
          manosCerca es una plataforma en línea diseñada para conectar a
          familias con cuidadores de confianza para sus seres queridos mayores.
          Facilitamos la búsqueda y selección de cuidadores cualificados para
          asegurar que tus mayores reciban el mejor cuidado posible.
        </div>
      </el-collapse-item>
      <el-collapse-item
        title="¿Cómo encuentro un cuidador cerca de mí en línea?"
        name="3"
      >
        <div class="custom-title">
          Antes de comenzar tu búsqueda, tómate un momento para decidir cuáles
          son tus necesidades. ¿Necesitas ayuda a tiempo completo? ¿Cuidado a
          tiempo parcial? ¿Ayuda en momentos puntuales? Haz una lista de
          preferencias sobre las características necesarias y deseables para que
          puedas aplicar los filtros correctos en nuestra herramienta web.
        </div>
        <div class="custom-title">
          Le proporcionaremos una lista de cuidadores disponibles cerca de ti.
          Luego podrás seleccionar y examinar por tu cuenta a los candidatos más
          prometedores, solicitando referencias y organizando una entrevista
          formal. Si encuentras un cuidador que cumpla con tus requisitos,puedes
          contactarlo inmediatamente,o puedes tomarte las cosas con calma y
          esperar a que los cuidadores interesados te envíen un mensaje primero.
        </div>
      </el-collapse-item>
      <el-collapse-item
        title="¿Qué tipo de servicios ofrecen los cuidadores en manosCerca?"
        name="4"
      >
        <div class="custom-title">
          Nuestros cuidadores ofrecen una amplia gama de servicios, incluyendo
          cuidado personal, asistencia en el hogar, compañía, y apoyo en
          actividades diarias.
        </div>
        <div class="custom-title">
          Puedes especificar tus necesidades y encontrar cuidadores que se
          especialicen en esos servicios.
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
  <!-- Formulario -->
  <div class="container-form">
    <form class="form-signin1" v-on:submit.prevent="validate">
      <h2 class="title-h2">Contacta con nosotros</h2>
      <div class="form-floating">
        <input
          v-model="email"
          id="email"
          type="email"
          class="form-control"
          name="email"
        />
        <label for="email">Email</label>
        <div v-if="enviado && !$v.email.required" class="mensajeError">
          Debe escribir un email
        </div>
        <div v-if="enviado && !$v.email.email" class="mensajeError">
          Formato de email incorrecto, "ejemplo@gmail.com"
        </div>
      </div>
      <div class="form-floating">
        <input
          v-model="name"
          id="name"
          type="name"
          class="form-control"
          name="name"
        />
        <label for="name">Nombre y apellidos</label>
        <div v-if="enviado && !$v.name.required" class="mensajeError">
          Debe escribir un nombre
        </div>
      </div>
      <div class="form-floating">
        <textarea
          v-model="message"
          id="message"
          class="form-control"
          placeholder="Escribe tu message aquí"
          name="message"
        ></textarea>
        <label for="message">Mensaje</label>
        <div v-if="enviado && !$v.message.required" class="mensajeError">
          Debe escribir un mensaje
        </div>
      </div>
      <button class="btn w-100 py-2 btn-purple" type="submit">Siguiente</button>
    </form>
  </div>
</el-row>
