<div class="container-profile">
    <div class="row-fila-one">
        <RouterLink to="/carers-users">
            <el-button type="primary" class="btn-second">
                <i class="el-icon-arrow-left"></i> Volver
            </el-button>
        </RouterLink>
        <div class="image-container">
            <img :src="profileImage" alt="Perfil de Superadmin" class="profile-image" />
        </div>
        <div class="info-user">
            <div class="info-info">
                <h1>{{ superuserName }}</h1>
            </div>
        </div>
        <RouterLink to="/">
            <el-button type="primary" class="btn-second" @click="logout">Cerrar Sesión</el-button>
        </RouterLink>
    </div>
</div>