<section class="funcionamiento-cuidadores">
    <h1>¿Cómo funciona para Cuidadores?</h1>

    <nav class="nav-center ">
        <router-link to="vista-guia-para-familias" class="nav-link" exact-active-class="active-link">Para
            Familias</router-link>
        <router-link to="vista-guia-para-cuidadores" class="nav-link" exact-active-class="active-link">Para
            Cuidadores</router-link>
    </nav>


    <section class="section1">
        <div class="div1-secc1">
            <h2>¿Qué es manosCerca?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur a, temporibus voluptates hic
                quisquam odit voluptas labore fuga cupiditate, culpa sit atque fugiat animi placeat laborum porro,
                distinctio vero quos!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis, ullam blanditiis tenetur dolore
                officiis obcaecati sit temporibus consectetur vitae quaerat itaque optio? Dolorum dolores similique quia
                incidunt voluptatum voluptatibus ullam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reprehenderit pariatur provident quae quos
                enim cupiditate, omnis unde? Iure facilis et veritatis vitae dicta voluptate, mollitia aspernatur
                voluptas pariatur Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero id tenetur commodi omnis
                voluptate reprehenderit, inventore quibusdam quas quae cum obcaecati ut temporibus nesciunt pariatur
                provident molestiae? Id, porro sit.</p>
        </div>
        <div class="div2-secc1">
            <img src="../../../public/imagenes/paseo-abuelos.jpg" alt="">
        </div>
    </section>



    <section class="section3">
        <div class="div1-secc3">
            <img src="../../../public/imagenes/buelos.jpg" alt="">
        </div>
        <div class="div2-secc3">
            <h2>Completa tu perfil </h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet ipsam, perspiciatis tempora id at minima
                fugiat ex est libero dolorum labore voluptas ut, explicabo optio doloribus doloremque soluta enim
                excepturi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, veniam repellendus neque id facere
                perspiciatis magni ex est ipsum incidunt deleniti temporibus debitis. Voluptatum illum quam omnis
                asperiores sit saepe?
            </p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus dolor tenetur autem tempora ipsum
                dignissimos vel. Sint libero impedit ad eum, consectetur aut sit! Obcaecati nobis in dolorem rem vel?
            </p>
        </div>
    </section>

</section>