.time {
  font-size: var(--font-sizeXXS);
  color: #c91414;
}

.bottom {
  margin-top: 20px;
  line-height: 12px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  display: block;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.card-custom {
  padding: 20px;
  margin: 10px;
}

.info-container {
  padding: 14px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-label {
  display: block;
  font-family: 'Arial', sans-serif;
  font-size: var(--font-sizeS);
  color: #333;
  margin-bottom: 8px;
}

.time {
  display: block;
  margin-top: 10px;
  font-size: var(--font-sizeXS);
  color: #888;
}


/* Media query para pantallas menores a 800px */
@media (min-width: 799px) {
  .card-custom {
    width: 100% !important;
    margin: 10px 0 !important;
    padding: 20px !important;
    box-sizing: border-box !important;
  }

  .image {
    width: 150px;
    height: 150px;
  }
}