<el-card v-if="dependent.id" class="card-custom" :body-style="{ padding: '0px' }">
  <router-link :to="{ name: 'profile-dependent', params: { id: dependent.id } }" class="image-link">
    <div class="image-container">
      <img :src="imageUrl" class="image" />
    </div>
  </router-link>
  <div class="info-container">
    <span class="info-label">Nombre: {{ dependent.name }}</span><br />
    <span class="info-label">Ciudad de residencia: {{ dependent.city }}</span><br />
    <span class="info-label">Dirección: {{ dependent.address }}</span><br />
    <span class="info-label">Diponibilidad: {{ dependent.work_day }}</span>
    <div>
      <!-- Paso el id del cuidador por parámetro  -->
      <router-link :to="{ name: 'profile-dependent', params: { id: dependent.id } }">
        <el-button class="btn btn-purple">Ver Perfil</el-button>
      </router-link>
    </div>
  </div>
</el-card>