//Variables
$mc-whitecolor: white;
$mc-bgColor: purple;
$mc-byzantine: #801563;
$mc-darkraspberry: #871e6c;
$mc-bypurple: #b9439b;
$mc-bymorado: #5a379b;
$mc-fandango: #ac3b8f;
$mc-purple-text: #8529be;
$mc-gray: #e2e5e9;
$mc-form-purple: #b9439b;
$mc-bd-color: #e70bc3;
$mc-bynegro: black;
$mc-btnSecond: #839192;

:root {
  --mc-byzantine: #{$mc-byzantine};
  --mc-bypurple: #{$mc-bypurple};
  --mc-fandango: #{$mc-fandango};
  --mc-bymorado: #{$mc-bymorado};
  --mc-fandango: #{$mc-fandango};
  --mc-byzantine: #{$mc-byzantine};
  --mc-gray: #{$mc-gray};
  --mc-bgColor: #{$mc-bgColor};
  --mc-whitecolor: #{$mc-whitecolor};
  --mc-purple-text: #{$mc-purple-text};
  --mc-form-purple: #{$mc-form-purple};
  --mc-bd-color: #{$mc-bd-color};
  --mc-bynegro: #{$mc-bynegro};
  --mc-btnSecond: #{$mc-btnSecond};
}

// Titulos principales
.title-h1 {
  font-family: 'Georgia', serif;
  font-size: 2.5em;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.title-h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background: #333;
  margin: 10px auto 0;
}

.title-h2 {
  font-family: 'Arial', sans-serif;
  font-size: 2.1em;
  color: #555;
  text-align: center;
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.title-h3 {
  font-family: 'Verdana', sans-serif;
  font-size: 1.75em;
  color: #666;
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
}// Fin de titulos principales

//Botones Header
.btn-second {
  background-color: $mc-btnSecond !important;
  color: $mc-whitecolor !important;
  font-weight: bold;
  border-width: 2px;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.btn-second:hover {
  background-color: $mc-bynegro !important;
  border-color: $mc-gray !important;
  color: $mc-whitecolor;
}

.btn-purple {
  background-color: $mc-bypurple !important;
  color: $mc-whitecolor !important;
  font-weight: bold;
  border-width: 2px;
  font-size: 17px;
  margin-top: 10px;
}

.btn-purple:hover {
  background-color: $mc-byzantine !important;
  border-color: $mc-gray !important;
  color: $mc-whitecolor;
}

.btn-re-purple {
  border-color: $mc-bypurple !important;
  color: $mc-fandango !important;
  font-size: 17px;
  border-width: 2px;
  font-weight: bold;
  margin-top: 10px;
}

.el-button--primary {
  background-color: $mc-whitecolor;
  color: $mc-fandango;
  border-color: $mc-whitecolor;
}

.btn-re-purple:hover {
  background-color: $mc-byzantine !important;
  color: $mc-whitecolor !important;
}

//Fin botones Header
// Inicio botones modals
.el-button--cancel {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.el-button--cancel:hover {
  background-color: #e6e6e6;
  color: #000;
}

.el-button--confirm {
  background-color: $mc-bypurple !important;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.el-button--confirm:hover {
  background-color: $mc-byzantine !important;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  color: aliceblue;
}

// Fin de botones de modals

// Color  cajas errores
.mensajeError {
  color: red;
}

// Formulario para contacto con manoscerca.es
.container-form {
  background-color: rgb(245, 255, 157);
  width: 1000px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .form-signin1 {
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
  }

  .form-floating {
    margin-bottom: 15px;
  }

  .form-control {
    border: 1px solid mc-whitecolor;
    border-radius: 4px;
    padding: 10px 15px;
    transition: border-color 0.3s ease-in-out;
  }

  .form-control:focus {
    border-color: $mc-byzantine;
  }

  a {
    color: $mc-byzantine;
  }

  textarea {
    min-height: 150px;
  }
}

// Fin formulario para contacto

// Filter
.filter {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.filter-input {
  margin-bottom: 20px;
  max-width: 280px;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}// Fin de filter

// Paginación
.block {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.demonstration {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}
.el-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.el-pagination .el-pager li {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}
.el-pagination .el-pager li:hover {
  background-color: #d9d9d9;
}
.el-pagination .el-pagination__prev,
.el-pagination .el-pagination__next {
  color: #409EFF;
  padding: 5px 10px;
  border-radius: 5px;
}

.el-pagination .el-pagination__prev:hover,
.el-pagination .el-pagination__next:hover {
  background-color: #d9d9d9;
}// Fin de pagination

// Datos no encontrados al filtrar
.no-data-message {
  text-align: center;
  margin-top: 20px;
  color: #ca6b6b;
  font-size: 16px;
  font-weight: bold;
}

// Subir archivos
.upload-demo {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.upload-demo .el-upload__text {
  font-size: 14px;
}// fin de subir archivos

//Previzualización de la img de perfil
.image-preview {
  margin-top: 10px;
  text-align: left;
}

.image-preview img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}//Fin de previzualización de la img de perfil

// Estilos para el botón de eliminar el perfil de usuarios
.p-borrar {
  color: rgb(94, 92, 92);
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  margin-left: 80px;
  font-size: 14px;
}
.p-borrar:hover {
  text-decoration: underline;
  color: black;
}
.remove-message {
  margin-left: 60px;
  color: #721c24;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 16px;
}
.remove-message button {
  background-color: #d0cece;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.remove-message button:hover {
  background-color: #801563;
  color: aliceblue;
}

// Estilos para el botón de eliminar el perfil de usuarios
.buttons-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons-cards > :nth-child(1),
.buttons-cards > :nth-child(2) {
  margin-right: 10px;
}
.buttons-cards > :nth-child(3) {
  margin-left: auto;
}// Fin botones de cards


// cerrar Sesion
.cerrarSesion{
 margin: 10px;
 border: none;
}
.cerrarSesion:hover{
  margin: 10px;
  background-color: #f9f9f9;
  color: black;
 }