<!-- <el-breadcrumb separator-class="el-icon-arrow-right" class="custom-breadcrumb">
  <el-breadcrumb-item v-for="(crumb, index) in generateBreadcrumb()" :key="index" :to="{ path: crumb.path }">
    {{ crumb.text }}
  </el-breadcrumb-item>
</el-breadcrumb> -->

<!-- <template>
  <el-breadcrumb separator-class="el-icon-arrow-right">
    <el-breadcrumb-item v-for="(breadcrumb, index) in breadcrumbs" :key="index" :to="breadcrumb.to">
      {{ breadcrumb.label }}
    </el-breadcrumb-item>
  </el-breadcrumb>
</template> -->
