// Fila dos carrousel de  comentarios
.el-carousel__item {
    color: #000000;
    font-size: var(--font-sizeXS);
    padding: 10px;
}

.el-carousel__item:nth-child(2n) {
    background-color: #bbc2ca;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #fcf680;
}

.container {
    padding: 1 0px;
    margin-bottom: 20px;
}

.comment-date {
    font-size: var(--font-sizeXXS);
    color: #686869;
    font-weight: bold;
    font-style: italic;
}

.comment-author {
    font-size: var(--font-sizeXXS);
    font-style: italic;
    font-weight: bold;
    color: #078a9b;
    margin-top: 0.3em;
}

// Fin fila carrousel de  comentarios
.new p {
    cursor: pointer;
    color: #801563;
    font-weight: bold;
    margin: 0;
}

.new p:hover {
    color: #b9439b;
}

.form {
    margin-top: 10px;
}

.form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: var(--font-sizeXS);
}

.no-comments-message {
    color: #535354;
    text-align: center;
    padding: 20px;
    font-size: var(--font-sizeM);
}

.delete-comment-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.delete-comment-button:hover {
    background-color: #0f7401;
}