// Fila dos carrousel de  comentarios
.el-carousel__item {
    color: #000000;
    font-size: var(--font-sizeXS);
    padding: 10px;
}

.el-carousel__item:nth-child(2n) {
    background-color: var(--mc-gray)
}
.el-carousel__item:nth-child(2n+1) {
    background-color: var(--mc-form-registration);
}

.container {
    padding: 1 0px;
    margin-bottom: 20px;
}

.comment-date {
    font-size: var(--font-sizeXXS);
    color:var(--mc-btnSecond);
    font-weight: bold;
    font-style: italic;
}

.comment-author {
    font-size: var(--font-sizeXXS);
    font-style: italic;
    font-weight: bold;
    color:var(--mc-dark-green) ;
    margin-top: 0.3em;
}

// Fin fila carrousel de  comentarios
.new p {
    cursor: pointer;
    color:var(--mc-byzantine);
    font-weight: bold;
    margin: 0;
}

.new p:hover {
    color: var(--mc-form-purple);
}

.form {
    margin-top: 10px;
}

.form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-family: Arial, sans-serif;
    font-size: var(--font-sizeXS);
}

.no-comments-message {
    color: var(--mc-colorcontenCard);
    text-align: center;
    padding: 20px;
    font-size: var(--font-sizeM);
}

.delete-comment-button {
    position: absolute;
    top: 15px;
    right: 15px;
}

.delete-comment-button:hover {
    background-color: var(--mc-green );
}