<el-row>
    <div>
        <h1 class="title-h1">Nuestras Cuidadores</h1>
        <div class="filter">
            <h3>Encuentra tu próximo cuidador</h3>
            <el-input v-model="filters.city" placeholder="Filtrar por ciudad" class="filter-input"></el-input>
            <el-select v-model="filters.work_day" placeholder="Filtrar por jornada" class="filter-select">
                <el-option label="Jornada parcial" value="Jornada parcial"></el-option>
                <el-option label="Jornada completa" value="Jornada completa"></el-option>
            </el-select>
            <el-select v-model="filters.year" placeholder="Filtrar por años de experiencia" class="filter-select">
                <el-option label="1 año" value="1"></el-option>
                <el-option label="2 años" value="2"></el-option>
                <el-option label="3 años" value="3"></el-option>
                <el-option label="más de 4 años" value="4"></el-option>
            </el-select>
            <el-button class="btn-second" @click="buscar">Buscar</el-button>
        </div>
        <el-row :gutter="20">
            <div v-if="carers.length > 0">
                <el-col :span="8" v-for="carer in carers" :key="carer.id">
                    <carerCard :carer="carer" />
                </el-col>
            </div>
            <div v-else class="no-data-message">
                <p>No se han encontrado datos para los filtros aplicados.</p>
            </div>
        </el-row>
        <div class="block">
            <el-pagination layout="prev, pager, next" :total="totalRecords" :page-size="5"
                :current-page.sync="currentPage" @current-change="loadCarers"></el-pagination>
        </div>
    </div>
</el-row>