<el-menu :default-active="$route.path" class="el-menu-demo" mode="horizontal">
  <router-link to="/" tag="el-menu-item" index="/">Inicio</router-link>
  <router-link to="/carers-users" tag="el-menu-item" index="/carers-users">Cuidadores</router-link>
  <router-link to="/dependents-users" tag="el-menu-item" index="/dependents-users">Familias</router-link>
  <router-link to="/our-company" tag="el-menu-item" index="/our-company">Quienes somos</router-link>
  <div class="active-indicator"></div>
</el-menu>