.barra-accesibilidad-flotante {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}

.barra-accesibilidad-flotante button {
    background: none;
    border: none;
    padding: 8px;
    margin-bottom: 5px;
    cursor: pointer;
  font-size: var(--font-sizeXXL);
    color: #333;
    display: flex;
    align-items: center;
}

.barra-accesibilidad-flotante button i {
    margin-right: 5px;
}

.barra-accesibilidad-flotante button.activo {
    color: #007bff;
}

.opciones-accesibilidad {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.opciones-accesibilidad button {
    margin-right: 0;
    margin-bottom: 8px;
    font-size: var(--font-sizeXL);
}

.daltonism-options {
    display: flex;
    margin-top: 5px;
}

.daltonism-options button {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
 font-size: var(--font-sizeL);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-sample {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    margin-top: 3px;
    border-radius: 3px;
}

.protanopia {
    background-color: #008080;
}

/* Ejemplo de color afectado */
.deuteranopia {
    background-color: #008080;
}

/* Ejemplo de color afectado */
.tritanopia {
    background-color: #a9a9a9;
}

/* Ejemplo de color afectado */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body.modo-noche {
    background-color: #333;
    color: #f0f0f0;

    a {
        color: #add8e6;
    }
}

body.modo-oscuro {
    background-color: #1e1e1e;
    color: #d4d4d4;

    a {
        color: #9cdcfe;
    }
}