<section class="barra-accesibilidad-flotante">
    <button @click="toggleOpciones" aria-label="Mostrar opciones de accesibilidad">
        <font-awesome-icon icon="universal-access" aria-hidden="true" />
        <span class="sr-only">{{ desplegarCerrarTexto }}</span>
    </button>
    <div v-if="mostrarOpciones" class="opciones-accesibilidad">
        <button :class="{ 'activo': contrast !== 'normal' }" @click="alternarContraste"
            :aria-label="opcionesTexto.alternarContrasteTexto">
            <font-awesome-icon icon="adjust" aria-hidden="true" />
            <span class="sr-only">{{ opcionesTexto.alternarContrasteTexto }}</span>
        </button>
        <button :class="{ 'activo': grayscale }" @click="toggleGrayscale"
            :aria-label="opcionesTexto.alternarGrayscaleTexto">
            <font-awesome-icon icon="tint-slash" aria-hidden="true" />
            <span class="sr-only">{{ opcionesTexto.alternarGrayscaleTexto }}</span>
        </button>
        <button :class="{ 'activo': readableFont }" @click="toggleReadableFont"
            :aria-label="opcionesTexto.alternarFuenteLegibleTexto">
            <font-awesome-icon icon="font" aria-hidden="true" />
            <span class="sr-only">{{ opcionesTexto.alternarFuenteLegibleTexto }}</span>
        </button>
        <button :class="{ 'activo': daltonism !== 'normal' }" @click="alternarDaltonismo"
            :aria-label="opcionesTexto.alternarDaltonismoTexto">
            <font-awesome-icon icon="eye" aria-hidden="true" />
            <span class="sr-only">{{ opcionesTexto.alternarDaltonismoTexto }}</span>
        </button>
        <div v-if="daltonism !== 'normal'" class="daltonism-options">
            <button v-for="option in daltonismOptions" :key="option.value"
                :class="{ 'activo': daltonism === option.value }" @click="setDaltonism(option.value)"
                :aria-label="`${opcionesTexto['modo' + option.label.replace(/ \(.*\)/, '') + 'Texto']} (${option.label.split('(')[1].slice(0, -1)})`">
                <span class="sr-only">{{ opcionesTexto['modo' + option.label.replace(/ \(.*\)/, '') + 'Texto'] }}</span>
                <div :class="['color-sample', option.colorClass]"></div>
            </button>
            <button @click="setDaltonism('normal')" :aria-label="opcionesTexto.desactivarDaltonismoTexto">
                <font-awesome-icon icon="times-circle" aria-hidden="true" />
                <span class="sr-only">{{ opcionesTexto.desactivarDaltonismoTexto }}</span>
            </button>
        </div>
    </div>
</section>