$mc-byzantine: #801563;

.decnone {
    text-decoration: none;
}

.a_purple {
    color: $mc-byzantine;
    padding: 3px;
}

.section-footer {
    padding: 20px;
}
.terminos {
    background-color:  rgba(0, 0, 0, 0.05);
}
.iconos{
    background-color: #ff16c5;
    display: flex;
    justify-content: right;
    padding: 20px;
}