.footer-clean {
    padding-top: 40px;
    background-color: var(--mc-gray);

    .container-footer {
        display: flex;
        justify-content: space-evenly;
        background-color: var(--mc-whitecolor);
        padding: 5px;
    }

    .container-footer div {
        flex: 1;
        text-align: center;
        padding: 10px;
    }

    .container-footer h3 {
        margin-bottom: 10px;
        font-size: var(--font-sizeM);
        color: #3d3c3c;
    }

    .container-footer ul {
        list-style-type: none;
        padding: 0;
    }

    .container-footer ul li {
        margin: 20px;
    }

    .container-footer ul li a {
        text-decoration: none;
        color: var(--mc-bynegro);
        transition: color 0.3s;
        font-size: var(--font-sizeM);
    }

    .container-footer ul li a:hover {
        color: var(--mc-footer-lists);
        font-size: var(--font-sizeM);
    }

    .logo-container {
        flex: 1;
        text-align: center;
    }

    .logo-container img {
        max-width: 200px;
        height: auto;
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .social-icons a img {
        width: 30px;
        height: auto;
    }

    .social-container p {
        font-weight: bold;
        font-size: var(--font-sizeXS);
        color: var(--mc-byzantine);
        text-align: center;
    }

    .text-center {
        color: var(--mc-byzantine);
        font-size: var(--font-sizeM);
        padding: 10px;
    }
}

@media (max-width: 768px) {
    @media (max-width: 768px) {
        .container-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo-container,
        .social-container,
        .contact-column {
            text-align: center;
            margin-bottom: 20px;
        }

        .social-icons a {
            margin: 0 10px;
        }

        .container-footer div {
            width: 100%;
            margin-bottom: 20px;
        }

        .text-center {
            padding: 20px 0;
        }
    }
}