<section class="footer-clean">
    <div class="container-footer">
        <div class="logo-container">
            <img src="../../../public/imagenes/logo-mc.png" alt="Logo de Manos Cerca.es">
            <div class="social-container">
                <div class="social-icons">
                    <a href="#"><img src="../../../public/icono/facebook.png" alt="Facebook"></a>
                    <a href="#"><img src="../../../public/icono/instagram.png" alt="Twitter"></a>
                    <a href="#"><img src="../../../public/icono/gmail.png" alt="Instagram"></a>
                    <a href="#"><img src="../../../public/icono/twitter.png" alt="Instagram"></a>
                </div>
                    <p>Atención a domicilio y cuidado de  tus mayores</p>
                    <p>Córdoba-España 14004 </p>
                    <p>info@manosCerca.com</p>
            </div>
        </div>
        <div>
            <h3>Manos Cerca</h3>
            <ul>
                <li><router-link to="nuestra-empresa" class="nav-link" exact-active-class="active-link">¿Quienes Somos?</router-link></li>
                <li><a href="#">Ayuda y preguntas</a></li>
                <li><a href="#">Sobre manosCerca</a></li>
            </ul>
        </div>
        <div>
            <h3>Buscar</h3>
            <ul>
                <li><a href="#">Encontrar Cuidador</a></li>
                <li><a href="#">Busco trabajo</a></li>
            </ul>
        </div>
        <div class="contact-column">
                <h3>Contáctanos</h3>
                <a  href="#"><img src="../../../public/icono/burbuja-de-dialogo.gif" width="70px" alt="Instagram"></a>
                <p class="phone">+34 123 456 789 </p>
                <h3>Envíenos un mensaje</h3>
                <a  href="#"><img src="../../../public/icono/enviar-correo.png" width="70px" alt="Instagram"></a>
        </div>
    </div>
    <div class="text-center">
        © 2024 manosCerca:
        <a class="decnone text-reset fw-bold" href="#">Términos y condiciones</a>
    </div>
    <!-- <div class="mapa-politicas">
        <div class="copy">
            © 2024 manosCerca:
            <a class="decnone text-reset fw-bold" href="#">Terminos y condiciones</a>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15220.131734028391!2d-4.785428577958331!3d37.88384955132675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6cdf7dc57e113b%3A0xda63b24f173b55aa!2sCentro%2C%20C%C3%B3rdoba!5e1!3m2!1ses!2ses!4v1732651217315!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div> -->
</section>
<!-- <section class="text-center text-lg-start bg-body-tertiary text-muted section-footer">
    <div class="container text-center text-md-start mt-5"> -->
        <!-- Grid row -->
        <!-- <div class="row mt-3"> -->
            <!-- Grid column -->
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->
                <!-- Links -->
                <!-- <h6 class=" text-uppercase fw-bold mb-4">
                    manos Cerca
                </h6>
                <p>
                    <a href="#!" class="decnone text-reset">sobre manosCerca</a>
                </p>
                <p>
                    <a href="#!" class="decnone text-reset">Ayuda y preguntas</a>
                </p>
                <p>
                    <a href="#!" class="decnone text-reset">Blog</a>
                </p>
            </div> -->
            <!-- Grid column -->

            <!-- Grid column -->
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->
                <!-- Links -->
                <!-- <h6 class="text-uppercase fw-bold mb-4">
                    Buscar
                </h6>
                <p>
                    <a href="#!" class="decnone text-reset">Encontrar Cuidador</a>
                </p>
                <p>
                    <a href="#!" class="decnone text-reset">Busco trabajo </a>
                </p>
            </div> -->
            <!-- Grid column -->

            <!-- Grid column -->
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4"> -->
                <!-- Links -->
                <!-- <h6 class="text-uppercase fw-bold mb-4">
                    Contacto
                </h6>
                <p>
                    <a href="#!" class="decnone text-reset">Córdoba España 14005 UE</a>
                </p>
                <p>
                    <a href="#!" class="decnone text-reset">info@manoscerca.com</a>
                </p>
                <p>
                    <a href="#!" class="decnone text-reset">+ 64 555 55 55 55</a>
                </p>
            </div>
        </div>
    </div> -->
    <!-- <div class="container pt-4">
        <section class="mb-4 d-flex justify-content-center">
            <a href="#" class="btn btn-link btn-floating btn-lg text-body m-1">
                <img src="../../../public/icono/facebook.png" width="10%" alt="Facebook" />
            </a>
            <a href="#" class="btn btn-link btn-floating btn-lg text-body m-1">
                <img src="../../../public/icono/twitter.png" width="10%" alt="Twitter" />
            </a>
            <a href="#" class="btn btn-link btn-floating btn-lg text-body m-1">
                <img src="../../../public/icono/instagram.png" width="10%" alt="Instagram" />
            </a>
            <a href="#" class="btn btn-link btn-floating btn-lg text-body m-1">
                <img src="../../../public/icono/gmail.png" width="10%" alt="Instagram" />
            </a>
        </section>
    </div>
    <div class="text-center p-4 color" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 manosCerca:
        <a class="decnone text-reset fw-bold" href="#">Terminos y condiciones</a>
    </div>
</section> -->
<!-- Copyright -->