<div class="container-profile">
    <div class="row-fila-one">
        <div class="image-container">
            <img src="../../../public/imagenes/ayuda_abuelo.jpg" class="image">
            <!-- <img :src="dependent.imagen" class="image"> -->
        </div>
        <div class="info-dependent">
            <div class="information-dependent">
                <h1>{{ dependent.name }}</h1>
                <p> {{ dependent.city }}, {{ dependent.address }}</p>
            </div>
            <div class="information-dependent">
                <h2>Tareas a realizar</h2>
                <ul>
                    <li v-for="task in dependent.tasks" :key="task.id_tasks_dependent">
                        {{ task.service_description }}
                    </li>
                </ul>
            </div>
            <div class="information-dependent">
                <h2>Jornada</h2>
                <p> {{ dependent.work_day }} </p>
            </div>
            <div class="information-dependent">
                <h2>Descripción de la oferta</h2>
                <p> {{ dependent.description }} </p>
            </div>
            <div>
                <RouterLink to="/contact-form">
                    <el-button type="primary" class="btn-purple">Contactar</el-button>
                </RouterLink>
            </div>
                <!-- Botón para abrir el modal en modo de edición -->
            <div>
                <el-button type="primary" class="btn-purple" @click="openEditModal">Editar Perfil</el-button>
            </div>
        </div>
    </div>
    <div class="row-fila-two">
        <div>Similares</div>
    </div>
</div>
