<div class="container-profile">
    <div class="row-fila-one">
        <RouterLink to="/dependents-users">
            <el-button type="primary" class="btn-second" >
                <i class="el-icon-arrow-left"></i> Volver
            </el-button>
        </RouterLink>
        <div class="image-container">
            <img :src="imageUrl" class="image" />
        </div>
        <div class="info-dependent">
            <div class="information-dependent">
                <h1>{{ dependent.name }}</h1>
                <p>{{ dependent.city }}, {{ dependent.address }}</p>
                <p>Email: {{ dependent.email }}</p>
            </div>
            <div class="information-dependent">
                <h2>Tareas a realizar</h2>
                <ul>
                    <li v-for="task in dependent.tasks" :key="task.id_tasks_dependents">
                        {{ task.description }}
                    </li>
                </ul>
            </div>
            <div class="information-dependent">
                <h2>Jornada</h2>
                <p>{{ dependent.work_day }}</p>
            </div>
            <div class="information-dependent">
                <h2>Descripción de la oferta</h2>
                <p>{{ dependent.description }}</p>
            </div>
            <div class="buttons-cards">
                <RouterLink to="/contact-form">
                    <el-button type="primary" class="btn-purple">Contactar</el-button>
                </RouterLink>
                <RouterLink to="/">
                    <el-button type="primary" class="btn-second" @click="logout">Cerrar Sesión</el-button>
                </RouterLink>
                <!-- Botón para abrir el modal en modo de edición -->
                <el-button v-if="showEditButton" type="primary" class="btn-purple" @click="openEditModal">Editar
                    Perfil</el-button>
            </div>
        </div>
    </div>
    <!-- carrousel de comentarios -->
    <h2 class="title-h2">
        Nuestros cuidadores opinan sobre los servicios ofrecidos por las familias
    </h2>
    <!-- Componente  de comentarios-->
    <!-- <Comment :comments="comments" @add-comment="addNewComment" /> -->
    <Comment :comments="comments" @add-comment="addNewComment" :isOwnProfile="isOwnProfile" />
    <time class="time">{{ currentDate }}</time>
</div>