@import '@/styles/main.scss';

.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: var(--mc-whitecolor);
}

.bg-purple {
  background: rgb(231, 231, 217);
}

.bg-purple-light {
  background: rgb(180, 184, 179);
}

.row-bg {
  padding: 10px 0;
  background-color: var(--mc-whitecolor);
}

.el-carousel__item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.el-carousel__item:nth-child(2n) {
  background-color: var(--mc-whitecolor);
}

.el-carousel__item:nth-child(2n+1) {
  background-color: var(--mc-whitecolor)e;
}

// Inicio que necesitas?
.grid-content-our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: f8f8ff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.image {
  width: 100%;
  max-width: 500px;
  height: 600px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.title {
  color: #080808;
  font-size: var(--font-sizeL);
  text-align: center;
}

.text {
  color: #080808;
  font-size: var(--font-sizeM);
  text-align: center;
}

// Fin
//inicio - libera tiempo
.img-movil {
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.informatica {
  background-color: var(--mc-whitecolor);
  color: #464545;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  text-align: left;
  font-size: var(--font-sizeM);
}

.informatica ul {
  list-style: none;
  padding-left: 0;
}

.informatica ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

.informatica ul li::before {
  content: '✔';
  color: var(--purple-text);
  position: absolute;
  left: 0;
  top: 0;
}

.informatica h3 {
  text-align: left;
}

.informatica p {
  margin-bottom: 10px;
  color: #34495e;
  font-size: var(--font-sizeM);
}

// inicio sevicios a ofrecer
.grid-content {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

}

.service-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.service-image:hover {
  transform: scale(1.05);
}

.service-description {
  font-size: var(--font-sizeS);
  color: #333;
  margin-top: 10px;
  line-height: 1.6;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  max-width: 100%;
}

// Fin
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media (max-width: 799px) {
  .el-row {
    display: block !important;
  }

  .el-col {
    width: 100% !important;
    margin-bottom: 20px !important
  }

  .image {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
  }

  .grid-content-our-services {
    text-align: center;
  }
}