@import '@/styles/main.scss';

.el-row {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.el-col {
  border-radius: 4px;
}

.bg-purple-dark {
  background: white;
}

.bg-purple {
  background: rgb(231, 231, 217);
}

.bg-purple-light {
  background: rgb(180, 184, 179);
}

.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}

.el-carousel__item img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.el-carousel__item:nth-child(2n) {
  background-color: white;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: white;
}

// Inicio que necesitas?
.grid-content-our-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0ecec; /* Color de fondo */
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}
.image {
  width: 100%;
  max-width: 500px; /* Ajusta el tamaño máximo de la imagen */
  height: 600px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.title {
  color: #080808;
  font-size: 28px;
  text-align: center;
}
.text {
  color: #080808;
  font-size: 20px;
  text-align: center;
}
// Fin
//inicio - libera tiempo
.img-movil {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.informatica {
  background-color: #f9f9f9;
  color: #464545;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  text-align: left;
  font-size: 1.1em;
}

.informatica ul {
  list-style: none;
  padding-left: 0;
}

.informatica ul li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  display:block;
  text-align: left;
  margin-bottom: 10px;
}

.informatica ul li::before {
  content: '✔';
  color: var(--purple-text);
  position: absolute;
  left: 0;
  top: 0;
}

.informatica h3 {
  text-align: left;
}
.informatica p {
  margin-bottom: 10px;
  color: #34495e;
  font-size: 1.1em;
}

.texto {
  font-weight: bold;
  text-transform: uppercase;
}

// inicio sevicios a ofrecer
.grid-content {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;

}

.service-image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.service-image:hover {
  transform: scale(1.05);
}

.service-description {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
  line-height: 1.6;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  max-width: 100%;
}

// Fin

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}