<div class="section-portada">
    <el-row>
        <el-col :span="24">
            <div class="grid-content bg-purple-dark">
                <el-carousel indicator-position="outside" height="600px">
                    <el-carousel-item v-for="item in images" :key="item">
                        <img :src="item" alt="Carousel Image" />
                    </el-carousel-item>
                </el-carousel>
            </div>
        </el-col>
    </el-row>
    <el-col :span="24">
        <div>
            <h1 class="title-h1">Que necesitas?</h1>
        </div>
    </el-col>
    <el-row>
        <el-col :span="12" v-for="service in ourServices" :key="service.id">
            <div class="grid-content-our-services">
                <img :src="service.img" :alt="service.title" class="image">
                <p class="title">{{ service.title }}</p>
                <p class="text">{{ service.text }}</p>
                <RouterLink :to="service.link">
                    <span class="btn btn-purple hero_cta " data-bs-toggle="modal"
                        data-bs-target="#registerModal">Más información</span>
                </RouterLink>
            </div>
        </el-col>
    </el-row>
    <el-col :span="24">
        <div>
            <h2 class="title-h2">Libera tiempo para tu familia, trabajo y amigos</h2>
        </div>
    </el-col>
    <el-row>
        <el-col :span="8">
            <div class="grid-content">
                <img class="img-movil" src="../../../public/imagenes/movil-mc.jpg" alt="Imagen 1">
            </div>
        </el-col>
        <el-col :span="16">
            <div class="informatica">
                <h3 class="title-h3">Cuidado de Mayores</h3>
                <p>Son muchas las personas y familias que tienen alguna persona mayor dependiente y/o enfermo, pero debido al ritmo de vida no pueden atenderles como les gustaría.</p>
                <p>En manosCercas, nos dedicamos a conectar a familias con cuidadores de confianza para sus seres queridos mayores. Nuestra plataforma en línea facilita la búsqueda y selección de cuidadores cualificados, asegurando que tus seres queridos reciban el mejor cuidado posible. Cuéntenos lo que necesita y despreocúpese.</p>
                <hr>
                <h3 class="title-h3">Te ofrecemos lo que buscas <strong>Confianza, tranquilidad y cercanía.</strong></h3>
                <ul>
                    <li>Adaptamos nuestros servicios a las necesidades específicas de cada persona mayor.</li>
                    <li>Ayuda con tareas cotidianas como el aseo, vestimenta y movilidad, brindando compañía y apoyo emocional.</li>
                    <li>Servicios de cuidado temporal para dar un descanso a los cuidadores principales.</li>
                    <li>Organización de actividades para mantener a los mayores activos y socialmente comprometidos.</li>
                </ul>
            </div>
        </el-col>
    </el-row>

    <el-row>
        <h2 class="title-h2">Nuestros servicios comprende todas las necesidades de los mayores.</h2>
        <el-col :span="8" v-for="service in services" :key="service.id">
            <div class="grid-content">
                <img :src="service.img" alt="Servicios que ofrecemos en manoos cerca" class="service-image">
                <p class="service-description">{{ service.text}}</p>
            </div>
        </el-col>
    </el-row>
</div>